body {
  margin:0;
}
.modal {
  display:none;
}
.modal-content {
  width: 59rem;
  min-height: 300px;
  height: auto;
  max-height: 90vh;
  overflow: scroll;
  border: 1px solid black;
  position: fixed;
  top: 54%;
  left: 50%;
  background-color: rgba(240, 240, 240, 0.98);
  padding: 0.5em;
  transform: translate(-50%, -50%);
  border-radius: 0;
}
.close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.man-info-top {
  text-align: center;
}
.man-info-top h4 {
  font-family: 'Noto Serif KR', serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
}
.man-info-top p {
  margin: 0.2em;
  font-size: 1em;
}
.man-info-top a {
  text-decoration: none;
}
.man-info-top a:hover {
  color: white;
}
.info-url {
  background-color: #cc313b;
  border-radius: 1rem;
  color: white;
  font-size: 0.9em;
  text-align: center;
  padding: 0.5em 1em;
  width: auto;
  font-weight: 500;
  margin: 0.7em 0;
  display: inline-block;
  cursor: pointer;
}
.man-info-one {
  background-color: white;
  margin: 0.5em;
  border-left: 0.3em solid black;
  padding: 0.7em 1.2em;
}
.man-info-one h4 {
  font-size: 1.2em;
  font-weight: bolder;
  color: #8f8f8f;
  font-family: 'Noto Serif KR', serif;
  margin-top: 0;
  margin-bottom: 0.2em;
}
.man-info-one p {
  font-size: 1em;
  font-family: 'Noto Serif KR', serif;
  margin: 0;
}
